@model IEnumerable<Product>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src = "@product.imageURL" class="card-img-top rounded"/>
                        <div class="pl-1">
                            <p class="card-title h5 text-primary opacity-75 text-uppercase text-center text- "p>
                                @product.Title    
                            </p>
                            <p class="card-text text-warning text-center border-end-0 " p>
                                написана <b>@product.Author</b>
                            </p>
                            <p class="card-text text-center border-top-0" > 
                                Цена за штуку: @product.Price.ToString("c")
                            </p>

                            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-primary mx-1 rounded-2">
                                <i class="bi bi-pencil-square"></i> Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    }
</div>
